/* Background */ .chroma { color: #d0d0d0 !important; background-color: #202020 !important }
/* Error */ .chroma .err { color: #a61717 !important; background-color: #e3d2d2 !important }
/* LineTableTD */ .chroma .lntd { vertical-align: top !important; padding: 0 !important; margin: 0 !important; border: 0 !important; !important }
/* LineTable */ .chroma .lntable { border-spacing: 0 !important; padding: 0 !important; margin: 0 !important; border: 0 !important; width: auto !important; overflow: auto !important; display: block !important; !important }
/* LineHighlight */ .chroma .hl { display: block !important; width: 100% !important;background-color: #ffffcc !important }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em !important; padding: 0 0.4em 0 0.4em !important;color: #686868 !important }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em !important; padding: 0 0.4em 0 0.4em !important;color: #686868 !important }
/* Keyword */ .chroma .k { color: #6ab825 !important; font-weight: bold !important }
/* KeywordConstant */ .chroma .kc { color: #6ab825 !important; font-weight: bold !important }
/* KeywordDeclaration */ .chroma .kd { color: #6ab825 !important; font-weight: bold !important }
/* KeywordNamespace */ .chroma .kn { color: #6ab825 !important; font-weight: bold !important }
/* KeywordPseudo */ .chroma .kp { color: #6ab825 !important }
/* KeywordReserved */ .chroma .kr { color: #6ab825 !important; font-weight: bold !important }
/* KeywordType */ .chroma .kt { color: #6ab825 !important; font-weight: bold !important }
/* NameAttribute */ .chroma .na { color: #bbbbbb !important }
/* NameBuiltin */ .chroma .nb { color: #24909d !important }
/* NameClass */ .chroma .nc { color: #447fcf !important; text-decoration: underline !important }
/* NameConstant */ .chroma .no { color: #40ffff !important }
/* NameDecorator */ .chroma .nd { color: #ffa500 !important }
/* NameException */ .chroma .ne { color: #bbbbbb !important }
/* NameFunction */ .chroma .nf { color: #447fcf !important }
/* NameNamespace */ .chroma .nn { color: #447fcf !important; text-decoration: underline !important }
/* NameTag */ .chroma .nt { color: #6ab825 !important; font-weight: bold !important }
/* NameVariable */ .chroma .nv { color: #40ffff !important }
/* LiteralString */ .chroma .s { color: #ed9d13 !important }
/* LiteralStringAffix */ .chroma .sa { color: #ed9d13 !important }
/* LiteralStringBacktick */ .chroma .sb { color: #ed9d13 !important }
/* LiteralStringChar */ .chroma .sc { color: #ed9d13 !important }
/* LiteralStringDelimiter */ .chroma .dl { color: #ed9d13 !important }
/* LiteralStringDoc */ .chroma .sd { color: #ed9d13 !important }
/* LiteralStringDouble */ .chroma .s2 { color: #ed9d13 !important }
/* LiteralStringEscape */ .chroma .se { color: #ed9d13 !important }
/* LiteralStringHeredoc */ .chroma .sh { color: #ed9d13 !important }
/* LiteralStringInterpol */ .chroma .si { color: #ed9d13 !important }
/* LiteralStringOther */ .chroma .sx { color: #ffa500 !important }
/* LiteralStringRegex */ .chroma .sr { color: #ed9d13 !important }
/* LiteralStringSingle */ .chroma .s1 { color: #ed9d13 !important }
/* LiteralStringSymbol */ .chroma .ss { color: #ed9d13 !important }
/* LiteralNumber */ .chroma .m { color: #3677a9 !important }
/* LiteralNumberBin */ .chroma .mb { color: #3677a9 !important }
/* LiteralNumberFloat */ .chroma .mf { color: #3677a9 !important }
/* LiteralNumberHex */ .chroma .mh { color: #3677a9 !important }
/* LiteralNumberInteger */ .chroma .mi { color: #3677a9 !important }
/* LiteralNumberIntegerLong */ .chroma .il { color: #3677a9 !important }
/* LiteralNumberOct */ .chroma .mo { color: #3677a9 !important }
/* OperatorWord */ .chroma .ow { color: #6ab825 !important; font-weight: bold !important }
/* Comment */ .chroma .c { color: #999999 !important; font-style: italic !important }
/* CommentHashbang */ .chroma .ch { color: #999999 !important; font-style: italic !important }
/* CommentMultiline */ .chroma .cm { color: #999999 !important; font-style: italic !important }
/* CommentSingle */ .chroma .c1 { color: #999999 !important; font-style: italic !important }
/* CommentSpecial */ .chroma .cs { color: #e50808 !important; background-color: #520000 !important; font-weight: bold !important }
/* CommentPreproc */ .chroma .cp { color: #cd2828 !important; font-weight: bold !important }
/* CommentPreprocFile */ .chroma .cpf { color: #cd2828 !important; font-weight: bold !important }
/* GenericDeleted */ .chroma .gd { color: #d22323 !important }
/* GenericEmph */ .chroma .ge { font-style: italic !important }
/* GenericError */ .chroma .gr { color: #d22323 !important }
/* GenericHeading */ .chroma .gh { color: #ffffff !important; font-weight: bold !important }
/* GenericInserted */ .chroma .gi { color: #589819 !important }
/* GenericOutput */ .chroma .go { color: #cccccc !important }
/* GenericPrompt */ .chroma .gp { color: #aaaaaa !important }
/* GenericStrong */ .chroma .gs { font-weight: bold !important }
/* GenericSubheading */ .chroma .gu { color: #ffffff !important; text-decoration: underline !important }
/* GenericTraceback */ .chroma .gt { color: #d22323 !important }
/* GenericUnderline */ .chroma .gl { text-decoration: underline !important }
/* TextWhitespace */ .chroma .w { color: #666666 !important }
